@model final.ViewModels.WeekData

@{
    ViewBag.Title = "Week";
}

<h2>Week</h2>

@using (Html.BeginForm("Week", "Exam", FormMethod.Post))
{
    <p>請輸入1~7:@Html.TextBoxFor(m => m.Number)</p>
    <p>查詢結果: @Model.NumberMessage</p>

    <input type="submit" value="顯示">
    
}

